@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap");

// font-family: 'Barlow', sans-serif;

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #222;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --collapsible-transition-fn: ease;
  --collapsible-transition-duration: 0.3s;
  --collapsible-padding: 0.6rem;
}

.pb70 {
  padding-bottom: 70px;
}

.pt70 {
  padding-top: 70px;
}

/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: #fff;

  &:hover {
    color: #b9b9b9;
  }
}

.navbar-mainbg {
  background-color: #5161ce;
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;

  &:hover {
    color: #b9b9b9;
  }
}

#navbarSupportedContent > ul > li.active > a {
  color: #5161ce;
  background-color: transparent;
  transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.navbar-collapse {
  display: flex;
  justify-content: space-evenly;
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;

  .right,
  .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
  }

  .right {
    right: -25px;
  }

  .left {
    left: -25px;
  }

  .right:before,
  .left:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
  }

  .right:before {
    bottom: 0;
    right: -25px;
  }

  .left:before {
    bottom: 0;
    left: -25px;
  }
}

// Hero section

.hero-bg {
  background-image: url(../images/hero-bg3.jpg);
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #00172fc2;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .hero-title {
    width: 65%;
    margin-top: 100px;

    h1,
    h3,
    h6 {
      color: #fdfdfd;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1.2px;
    }
    h1 {
      font-size: 3em;
      padding-top: 0;
    }
    h3 {
      font-size: 18px;
      padding-top: 1.5rem;
    }

    h6 {
      font-size: 14px;
    }
  }
  .card {
    transition: all ease 0.4s;
    background: #222222ab;
    color: #fff;

    &:hover {
      transform: translateY(-8px);
    }
    h5 {
      font-weight: 600;
      color: #fff;
      font-size: 22px;
    }
    p {
      padding: 15px 0;
    }
    a {
      padding: 10px 20px;
      color: #000;
    }
  }
  .hero-content {
    margin-top: 40px;
  }
}

// about section

.about {
  color: #222;
  text-align: center;

  .about-title {
    display: inline;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    font-style: oblique;
    padding: 10px 60px;
    border-bottom: 2px solid #222;
  }

  .about-content {
    margin-top: 80px;

    .left-content {
      text-align: left;
      font-family: "Barlow", sans-serif;
      padding: 12px 0;
      padding-right: 3rem;

      h1 {
        font-weight: 600;
        font-size: 2.3rem;
        text-align: center;
      }
      .about-details {
        padding: 20px 0;
        font-weight: lighter;
        border-bottom: #eee8e8 solid 2px;
      }

      .about-contact {
        display: flex;

        .about-contact-name {
          text-align: center;
          width: 100%;
          border-right: 2px solid #eee8e8;
        }
        .about-contact-no {
          width: 100%;
          text-align: center;
        }
      }
    }

    .right-content {
      position: relative;

      .about-img-big {
        text-align: right;
      }
      .about-img-sm {
        position: absolute;
        left: -10px;
        bottom: 60px;
        border: 8px solid #ffffff;
        border-radius: 10px;

        img {
          width: 430px;
        }
      }
    }
  }
}

// reason

.reason {
  background-color: #fff;
  text-align: center;
  font-family: "Barlow", sans-serif;
  position: relative;

  .reason-one,
  .reason-two,
  .reason-three {
    .reason-card {
      border-radius: 15px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      position: relative;
      width: 356px;
      height: 356px;
      transition: all ease 0.4s;

      .reason-content {
        background-color: rgb(0 0 0 / 76%);
        padding: 10px 25px;
        color: #fff;
        position: absolute;
        bottom: 0px;
        top: 270px;
        transition: all ease 0.4s;

        p {
          margin-top: 20px;
          text-align: left;
          display: none;
        }

        h1 {
          position: relative;
          text-align: left;
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-size: 1.5rem;
          padding: 0;
          margin: 0px;
          padding-left: 15px;
          margin-right: 20px;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background: linear-gradient(to bottom, red, purple, rgb(9, 255, 0));
          }
        }
      }
      &:hover {
        .reason-content {
          position: absolute;
          top: 81px;
          p {
            display: block;
          }
        }
      }
    }
  }
  h3 {
    display: inline;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    font-style: oblique;
    padding: 10px 60px;
    border-bottom: 2px solid #222;
  }
  h1 {
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    padding: 10px 70px;
  }
}

// counter

.counter {
  .c-no {
    height: auto;
    color: #fff;

    @media (min-width: 320px) and (max-width: 767px) {
      height: 100%;
    }
    .row {
      border: 2px solid #ededed;
      border-radius: 25px;
    }
    .container {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 25px;
    }

    .counter-Txt {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 20px;
      border-right: #ededed solid 2px;
      font-family: "Barlow", sans-serif;

      &:last-child {
        border-right: none;
      }

      img {
        padding-bottom: 24px;
      }

      span {
        color: #5161ce;
        display: block;
        font-size: 30px;
      }
      p {
        color: #5161ce;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  // media counter
  @media (min-width: 320px) and (max-width: 767px) {
    margin-top: 35px;
  }
}

.margin-bot-35 {
  margin-bottom: 35px;
}

// Case Studies

.case-studies {
  text-align: center;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;

  .case-studies-title {
    text-align: center;
    display: inline;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    font-style: oblique;
    padding: 10px 60px;
    border-bottom: 2px solid #fff;
  }
  h1 {
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    padding: 10px 70px;
  }

  .Am-img-slider-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  @media (min-width: 1200px) {
    .Am-img-slider-container {
      width: 80%;
      margin: 25px auto;
    }
  }

  .Am-img-slider-container .blog-slider .swiper-slide {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content {
    position: relative;
    margin-left: 15px;

    .blog-slider__title {
      color: #fff;
    }
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > * {
    opacity: 1;
    transform: none;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(1) {
    transition-delay: 0.3s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(2) {
    transition-delay: 0.4s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(3) {
    transition-delay: 0.5s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(4) {
    transition-delay: 0.6s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(5) {
    transition-delay: 0.7s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(6) {
    transition-delay: 0.8s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(7) {
    transition-delay: 0.9s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(8) {
    transition-delay: 1s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(9) {
    transition-delay: 1.1s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(10) {
    transition-delay: 1.2s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(11) {
    transition-delay: 1.3s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(12) {
    transition-delay: 1.4s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(13) {
    transition-delay: 1.5s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(14) {
    transition-delay: 1.6s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__content
    > *:nth-child(15) {
    transition-delay: 1.7s;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(1) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 0.3s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(2) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 0.4s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(3) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 0.5s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(4) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 0.6s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(5) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 0.7s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(6) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 0.8s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(7) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 0.9s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(8) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 1s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(9) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 1.1s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(10) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 1.2s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(11) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 1.3s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(12) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 1.4s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(13) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 1.5s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(14) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 1.6s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.movie-image:nth-child(15) {
    animation: 1.5s 1 imgAnime;
    -webkit-animation: 1.5s 1 imgAnime;
    transition-delay: 1.7s;
    opacity: 1;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    .overly {
    opacity: 1;
    animation: 2s 1 playAnime;
    -webkit-animation: 2s 1 playAnime;
    display: block;
  }

  @keyframes playAnime {
    from {
      transform: translateY(100px);
    }
    50% {
      transform: translateY(-30px);
    }
    to {
      transform: translateY(0px);
    }
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(1) {
    transition-delay: 0.3s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(2) {
    transition-delay: 0.4s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(3) {
    transition-delay: 0.5s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(4) {
    transition-delay: 0.6s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(5) {
    transition-delay: 0.7s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(6) {
    transition-delay: 0.8s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(7) {
    transition-delay: 0.9s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(8) {
    transition-delay: 1s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(9) {
    transition-delay: 1.1s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(10) {
    transition-delay: 1.2s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(11) {
    transition-delay: 1.3s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(12) {
    transition-delay: 1.4s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(13) {
    transition-delay: 1.5s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(14) {
    transition-delay: 1.6s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide.swiper-slide-active
    .blog-slider__imgs
    img.back-image:nth-child(15) {
    transition-delay: 1.7s;
    animation: 4.5s 1 backimgAnime;
    -webkit-animation: 4.5s 1 backimgAnime;
  }

  @keyframes imgAnime {
    from {
      transform: translateX(-120px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
    }
  }

  @keyframes backimgAnime {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  .Am-img-slider-container .blog-slider .swiper-slide .movie-image-container {
    position: relative;
    width: 150px;
    height: 160px;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide
    .movie-image-container
    div.overly {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    display: none;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide
    .movie-image-container
    div.overly
    a {
    background-color: #3485ff;
    width: 50px;
    height: 50px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: xx-large;
    color: white;
  }

  .Am-img-slider-container
    .blog-slider
    .swiper-slide
    .movie-image-container
    .movie-image {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  .Am-img-slider-container .blog-slider .swiper-slide .back-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: blur(3px) brightness(50%);
  }

  .Am-img-slider-container .blog-slider__content > * {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1.5s;
  }

  .Am-img-slider-container .blog-slider__title {
    font-size: medium;
    margin-bottom: 10px;
  }

  .Am-img-slider-container .blog-slider__text {
    font-size: 15px;
    line-height: 1.2em;
    color: #aaaaaa;
  }

  .Am-img-slider-container .blog-slider__rate {
    font-size: x-large;
    margin: 10px 0px;
    display: block;
    font-weight: 900;
    color: rgba(255, 217, 0, 0.4);
  }

  .Am-img-slider-container .blog-slider__img {
    opacity: 0;
  }
}

// team

.team {
  background-color: #fff;

  .text-blk {
    line-height: 25px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }

  .inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
  }

  .team-title {
    display: inline;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    font-style: oblique;
    padding: 10px 60px;
    border-bottom: 2px solid #222;
  }

  .section-subhead-text {
    color: rgb(72, 72, 72);
    font-size: 20px;
    line-height: 27px;
    max-width: 670px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .card {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 40px;
    padding-left: 25px;
    box-shadow: rgba(134, 134, 134, 0.16) 0px 6px 24px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgb(255, 255, 255);
  }

  .img-wrapper {
    width: 175px;
    height: 175px;
    clip-path: circle(50% at 50% 50%);
  }

  .name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 28px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    line-height: 27px;
  }

  .position {
    line-height: 26px;
    color: #3485ff;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .testimonial {
    background-color: #fff;
    color: rgb(122, 122, 122);
    font-size: 18px;
    line-height: 27px;
  }

  .outer-container {
    background-color: rgb(250, 250, 250);
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }

  .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }

  .swiper.team-swiper {
    max-width: 100%;
    width: 100%;
    height: fit-content;
  }

  .swiper-slide {
    display: flex;
    justify-content: flex-start;
    height: auto;
  }

  .swiper-pagination.container-block {
    position: relative;
    top: 0px;
    margin-top: 36px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  // .swiper-container-horizontal &gt;

  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-top: 0px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-left: 4px;
    height: 12px;
    width: 12px;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    // background-repeat-x: initial;
    // background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 166, 127);
  }

  .swiper-wrapper {
    position: relative;
    top: 0px;
  }

  @media (max-width: 1024px) {
    .swiper-slide {
      justify-content: center;
    }
  }

  @media (max-width: 500px) {
    .outer-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  }
}

// testimonial

.testimonial {
  position: relative;
  background-color: #e3f2fd;
  text-align: center;

  .container {
    flex-direction: column;
    .testimonial-title {
      text-align: center;
      display: inline;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      font-style: oblique;
      padding: 10px 60px;
      border-bottom: 2px solid #222;
    }
    h1 {
      margin-top: 25px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 3.5rem;
      padding: 10px 70px;
    }
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .testimonial {
      position: relative;
      max-width: 900px;
      width: 100%;
      padding: 50px 0;
      overflow: hidden;

      .image {
        height: 170px;
        width: 170px;
        object-fit: cover;
        border-radius: 50%;
      }

      .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        height: 100%;
        width: 100%;

        p {
          text-align: center;
          padding: 0 160px;
          font-size: 14px;
          font-weight: 400;
          color: #333;
        }

        .quote-icon {
          font-size: 30px;
          color: #4070f4;
        }

        .details {
          display: flex;
          flex-direction: column;
          align-items: center;

          .name {
            font-size: 14px;
            font-weight: 600;
            color: #333;
          }

          .job {
            font-size: 12px;
            font-weight: 400;
            color: #333;
          }
        }
      }
    }

    // Swiper button CSS
    .nav-btn {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      transform: translateY(30px);
      background-color: rgba(0, 0, 0, 0.1);
      transition: 0.2s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &::after,
      &::before {
        font-size: 20px;
        color: #fff;
      }
    }

    // Swiper pagination CSS
    .swiper-pagination-bullet {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .swiper-pagination-bullet-active {
      background-color: #4070f4;
    }

    // Media query for small screens
    @media screen and (max-width: 768px) {
      .testimonial .slide p {
        padding: 0 20px;
      }

      .nav-btn {
        display: none;
      }
    }
  }
}

// Blog posts

.blog-post {
  min-height: 100vh;
  display: flex;

  .blog-post-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;

    @media screen and (max-width: 992px) {
      max-width: 680px;
      height: 400px;
    }

    @media screen and (max-width: 768px) {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
    }

    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 350px;
    }

    &__item {
      display: flex;
      align-items: center;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      &.swiper-slide-active {
        .blog-post-slider__img {
          img {
            opacity: 1;
            transition-delay: 0.3s;
          }
        }
        .blog-post-slider__content {
          > * {
            opacity: 1;
            transform: none;

            @for $i from 0 to 15 {
              &:nth-child(#{$i + 1}) {
                transition-delay: $i * 0.1 + 0.3s;
              }
            }
          }
        }
      }
    }

    &__img {
      // width: 40%;
      width: 300px;
      flex-shrink: 0;
      height: 300px;
      background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
      box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
      border-radius: 20px;
      transform: translateX(-80px);

      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        opacity: 0.8;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        opacity: 0;
        border-radius: 20px;
        transition: all 0.3s;
      }

      @media screen and (max-width: 992px) {
        // width: 45%;
      }
      @media screen and (max-width: 768px) {
        transform: translateY(-50%);
        width: 90%;
      }
      @media screen and (max-width: 576px) {
        width: 95%;
      }
      @media screen and (max-height: 500px) and (min-width: 992px) {
        height: 270px;
      }
    }

    &__content {
      // width: 60%;
      padding-right: 25px;
      @media screen and (max-width: 992px) {
        // width: 55%;
      }
      @media screen and (max-width: 768px) {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
      }

      @media screen and (max-width: 576px) {
        padding: 0;
      }
      > * {
        opacity: 0;
        transform: translateY(25px);
        transition: all 0.4s;
      }
    }

    &__code {
      color: #7b7992;
      margin-bottom: 15px;
      display: block;
      font-weight: 500;
    }

    &__title {
      font-size: 24px;
      font-weight: 700;
      color: #0d0925;
      margin-bottom: 20px;
    }

    &__text {
      color: #4e4a67;
      margin-bottom: 30px;
      line-height: 1.5em;
    }

    &__button {
      display: inline-flex;
      background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
      padding: 15px 35px;
      border-radius: 50px;
      color: #fff;
      box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
      text-decoration: none;
      font-weight: 500;
      justify-content: center;
      text-align: center;
      letter-spacing: 1px;
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 100px;
      left: 0;
      width: 100%;
    }
    &__pagination {
      position: absolute;
      z-index: 21;
      right: 20px;
      width: 11px !important;
      text-align: center;
      left: auto !important;
      top: 50%;
      bottom: auto !important;
      transform: translateY(-50%);
      @media screen and (max-width: 768px) {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 8px 0;
        @media screen and (max-width: 768px) {
          margin: 0 5px;
        }
      }

      .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        display: block;
        border-radius: 10px;
        background: #062744;
        opacity: 0.2;
        transition: all 0.3s;
        &-active {
          opacity: 1;
          background: #fd3838;
          height: 30px;
          box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

          @media screen and (max-width: 768px) {
            height: 11px;
            width: 30px;
          }
        }
      }
    }
  }
}

// footer

.footer {
  background-color: #1a1a1a;
  color: #ededed;
  font-family: "Barlow", sans-serif;
  padding-bottom: 30px;

  .footer-card {
    margin: 10px;

    h1 {
      color: #5161ce;
      margin-bottom: 12px;
      font-size: 35px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
    }

    h3 {
      color: #3485ff;
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 500;
    }
    ul {
      list-style: none;
      padding-left: 0;
      line-height: 30px;
      color: #c4c5c7;

      li a {
        text-decoration: none;
        color: #c4c5c7;
        font-size: 14px;
        transition: all 0.3s linear;
        letter-spacing: 1.3px;

        &:hover {
          color: #5161ce;
          padding-left: 10px;
        }
      }
    }
    .footer-social {
      margin-top: 30px;
      a {
        background-color: #fff;
        padding: 10px;
        margin: 10px;
        border-radius: 25px;
      }
    }
    .footer-contact {
      li {
        padding: 5px 0;
      }
      svg {
        margin-right: 10px;
        background: #fff;
        padding: 3px;
        border-radius: 25px;
      }
    }
  }
  .footer-copyright {
    text-align: center;
    margin-top: 30px;
    border-top: 2px solid #c4c5c7;
    padding-top: 20px;
  }
}

// media navbar

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }

  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    .left,
    .right {
      right: 10px;
    }

    .left {
      top: -25px;
      left: auto;
    }

    .right {
      bottom: -25px;
    }

    .left:before {
      left: -25px;
      top: -25px;
    }

    .right:before {
      bottom: -25px;
      left: -25px;
    }
  }
}

// navbar css end

// Media query

@media only screen and (max-width: 600px) {
  .hero-bg {
    .hero-title {
      width: 100%;
    }
    .card {
      margin: 10px 0;
    }
  }

  .reason {
    h1 {
      font-size: 3rem;
      padding: 10px;
    }

    .reason-one,
    .reason-two,
    .reason-three {
      width: 100%;
      .reason-card {
        margin: 20px;
      }
    }
  }

  .counter {
    .c-no {
      .counter-Txt {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 20px;
        border-radius: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .about {
    h1 {
      font-size: 3rem;
      padding: 10px;
    }

    .about-content {
      .left-content {
        align-items: center;
        padding-right: 0rem;

        .about-details {
          padding: 0 12px;
          text-align: justify;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
      }

      .right-content {
        margin-top: 20px;

        .about-img-big {
          img {
            width: 100%;
          }
        }

        .about-img-sm {
          position: initial;
          left: 0;
          bottom: 0;
          border: 8px solid #ffffff;
          border-radius: 10px;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .case-studies {
    h1 {
      padding: 10px;
      font-size: 3rem;
    }
    .case-studies-title {
      padding: 10px;
    }
  }

  .testimonial {
    .container h1 {
      font-size: 3rem;
      padding: 5px;
    }
  }

  .footer {
    text-align: center;

    .footer-card h1 {
      margin-bottom: 30px;
    }
  }
}

// End Home Page Design -----------------------------------------------------------------------

// --------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------

// Start About Page Design
// --------------------------------------------------------------------------------------------

.about-page {
  .hero-bg {
    // height: 100vh;
    background-image: url(../images/shape1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .about-title {
      text-align: center;
      color: #fff;
      h1 {
        color: #1e1e1e;
        font-weight: 600;
        font-size: 2rem;
      }
    }
  }

  .about-us {
    .right-content {
      width: 100%;
      padding-top: 80px;
      height: 600px;
      position: relative;
      display: flex;
      background-image: url(../images/shape1.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      .img-2 {
        top: 190px;
        left: 290px;
        margin: 0;
      }
      .img-1 {
        padding-top: 10px;
      }

      img {
        position: absolute;
        height: 350px;
        margin: 30px 15px;
      }
    }
    .left-content {
      .about-contact {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
        text-align: center;

        .about-contact-name {
          h3 {
            font-weight: 600;
            font-family: "Barlow", "Sens-Serif";
          }
        }
      }
      .about-us-bullets {
        padding-top: 12px;
        display: flex;

        ul {
          list-style: none;

          svg {
            margin-right: 5px;
          }

          li {
            margin-bottom: 8px;
            color: #4e4a67;
          }
        }
      }
    }
  }

  .choose-wtd {
    background-color: #fdfdfd;
    position: relative;
    text-align: center;
    color: #74788d;

    h1 {
      color: #1e1e1e;
      font-weight: 600;
      font-size: 2rem;
    }
    h3 {
      font-weight: 500;
      font-family: "Barlow", "Sens-Serif";
    }

    .choose-wtd-card {
      margin-top: 50px;
      position: relative;
      padding: 20px;
      border-radius: 15px;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

      h3 {
        margin: 15px 0;
        font-weight: 500;
        color: #4e4a67;
      }

      .card-no {
        color: #edecf8;
        position: absolute;
        font-size: 4rem;
        font-family: "Barlow", "Sens-Serif";
        top: -40px;
        left: 1px;
      }
    }
  }

  .why-choose-us {
    padding-top: 100px;
    height: 700px;

    .why-choose-us-content {
      margin-top: 40px;

      .content {
        background-color: #fff;
      }

      .content .collapsible-header {
        font-family: "Barlow", "sens-serif";
        appearance: none;
        width: 100%;
        background-color: #e9e9e9;
        border: none;
        padding: 15px;
        display: block;
        font-size: 1.2rem;
        cursor: pointer;
        text-align: initial;
        position: relative;
        border-radius: 12px;
        margin-bottom: 15px;
      }

      .collapsible-header::after {
        color: #8b8686;
        content: "►";
        position: absolute;
        right: 2%;
        transition: transform var(--collapsible-transition-duration)
          var(--collapsible-transition-fn);
      }

      .collapsible-header:has(+ .active)::after {
        transform: rotate(90deg);
      }

      .collapsible-header:has(+ .active) {
        font-weight: bold;
        transition: all var(--collapsible-transition-duration)
          var(--collapsible-transition-fn);
      }

      .collapsible-header + * {
        max-height: 0;
        margin-bottom: 0.2rem;
        background-color: #f3f1f1;
        overflow-y: hidden;
        will-change: max-height;
        transition: max-height var(--collapsible-transition-duration)
          var(--collapsible-transition-fn);
      }

      .collapsible-content {
        padding: var(--collapsible-padding);
      }

      // collapse
    }

    .right-content {
      height: 625px;
      position: relative;

      .about-img-big {
        text-align: right;
      }
      .about-img-sm {
        position: absolute;
        left: -5px;
        bottom: 115px;
        border: 8px solid #ffffff;
        border-radius: 10px;

        img {
          width: 430px;
        }
      }
    }
  }

  // how it works

  .how-it-works {
    background-color: #fdfdfd;
    position: relative;
    text-align: center;
    color: #74788d;

    .how-it-works-title {
      h1 {
        font-weight: 600;
        font-size: 3rem;
        font-family: "barlow", "sens-serif";
        margin: 5px 150px;
      }
    }

    .how-it-works-left-content {
      text-align: left;
      h1 {
        font-weight: 600;
        font-size: 2rem;
        font-family: "barlow", "sens-serif";
        margin-bottom: 30px;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "barlow", "sens-serif";
        margin-bottom: 30px;
      }
    }

    .how-it-works-right-content {
      .right-content-card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        text-align: left;
        padding: 35px;
        margin-top: 30px;

        &:first-child {
          margin-top: 0;
        }

        &:nth-child(2) {
          width: 100%;
          margin-left: 40px;
        }

        &:nth-child(3) {
          margin-left: 20px;
          width: 100%;
        }

        h3 {
          font-size: 2rem;
          font-weight: 600;
          font-family: "barlow", "sens-serif";
          margin: 15px;
          margin-right: 18px;
          padding: 20px 23px;
          background-color: #e1e8fa;
          border-radius: 50px;
        }

        h1 {
          font-weight: 600;
          font-size: 2rem;
          font-family: "barlow", "sens-serif";
        }
      }
    }
  }

  // team

  .team {
    text-align: center;

    .blog-post {
      .blog-post-slider__title {
        margin-bottom: 5px;
      }
      .blog-post-slider__code {
        text-transform: uppercase;
        font-family: "Barlow", "sans-serif";
      }
    }

    .ab-team-title {
      h1 {
        font-weight: 600;
        font-size: 3rem;
        font-family: "barlow", "sens-serif";
        margin: 5px 150px;
      }
    }

    .team-social {
      svg {
        margin: 10px;
        fill: #507495;
      }
    }
  }

  // counter

  .about-page-counter {
    background-color: #e3f2fd;
    position: relative;
    text-align: center;

    .c-no .container {
      border-radius: 0;
      box-shadow: none;
    }

    .row {
      border: none;
      border-radius: 0;
    }
  }

  // about page responsive

  @media only screen and (max-width: 600px) {
    .about-us {
      .right-content {
        flex-direction: column;
        height: auto;
        padding-top: 0;

        img {
          position: initial;
          height: auto;
          margin: 25px 0;
        }

        .img-2 {
          margin-bottom: 25px;
        }
      }
    }

    .why-choose-us {
      .right-content {
        height: auto;

        .about-img-sm {
          position: initial;
          left: 0;
          bottom: 0;
          border: none;
          margin-top: 25px;

          img {
            width: 100%;
          }
        }
      }
    }

    .how-it-works {
      .how-it-works-title h1 {
        margin: 5px 0;
        font-size: 2.3rem;
      }

      .how-it-works-right-content .right-content-card {
        padding: 16px;

        .d-flex {
          align-items: center;
        }

        h3 {
          font-size: 2rem;
          font-weight: 600;
          font-family: "barlow", "sens-serif";
          margin: 0;
          height: 75px;
          margin-right: 18px;
          padding: 15px;
          background-color: #e1e8fa;
          border-radius: 50px;
        }
        &:first-child {
          margin-top: 30px;
        }
        &:nth-child(2) {
          margin-left: 0;
        }
        &:nth-child(3) {
          margin-left: 0;
        }
      }

      .how-it-works-left-content {
        div {
          display: flex;
          justify-content: center;
        }
      }
    }

    .team {
      .ab-team-title {
        h1 {
          font-size: 2.3rem;
          margin: 5px 8px;
        }
      }
    }

    .blog-post
      .blog-post-slider__pagination.swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin: 30px 5px;
    }
  }
}

// About section ends
// =================================================================
// ====================================================================
// ======================================================================

// services section starts

.services-page {
  .service-page-hero {
    .service-page-hero-bg {
      background: linear-gradient(
        355deg,
        rgba(255, 255, 255, 1) 40%,
        rgba(0, 236, 255, 1) 0%
      );
    }

    .ser-page-header {
      text-align: center;
      color: #fff;

      .ser-page-header-container {
        padding: 7rem 20rem 10rem;

        h1 {
          font-weight: 600;
          font-size: 3rem;
          font-family: "barlow", "sens-serif";
          text-transform: capitalize;
        }

        h3 {
          font-size: 1.5rem;
          font-weight: 500;
          font-family: "barlow", "sens-serif";
        }
      }
    }
  }
  .ser-page-header-content {
    position: relative;

    .counter {
      position: absolute;
      width: 96%;
      bottom: -30px;
      margin: 0 25px;

      .c-no {
        .row {
          background-image: url(../images/bg3.jpg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        img {
          display: none;
        }

        .counter-Txt {
          border: none;
          p,
          span {
            color: #fff;
          }

          span {
            font-size: 4rem;
          }
        }
      }
    }
  }

  // service page hero section end

  .ser-what-we-do {
    background: linear-gradient(
      30deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(0, 236, 255, 1) 0%
    );

    .ser-what-we-do-cards-1 {
      .card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        text-align: center;
        padding: 25px;
        margin-top: 30px;

        &:first-child {
          width: 80%;
          margin-right: 30px;
        }

        &:last-child {
          margin-top: 55px;
        }
      }
    }
    .ser-what-we-do-cards-2 {
      .card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        text-align: center;
        padding: 25px;
        margin-top: 30px;

        &:first-child {
          margin-right: 30px;
          margin-top: 55px;
        }

        &:last-child {
          width: 80%;
        }
      }
    }
  }

  // our progress

  .ser-page-our-prog {
    .ser-page-wrapper {
      text-align: center;
    background: linear-gradient(355deg, rgba(0,236,255,1) 0%, rgba(255,255,255,1) 50%);
    }

    h3 {
      font-size: 2rem;
      font-weight: 400;
      font-family: "barlow", "sens-serif";
      text-transform: capitalize;
      margin: 15px;
    }

    h1 {
      font-weight: 600;
      font-size: 3rem;
      font-family: "barlow", "sens-serif";
      margin: 0 35px 40px;
    }

    .row {
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
        font-family: 'roboto', 'sens-serif';
        margin: 10px;
        text-transform: capitalize;
      }
    }

    .ser-page-our-prog-content {
      p {
        margin: 10px;
        text-align: justify;
      }

      .prog-bullets {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin: 10px 0;
          }
        }
      }
    }
  }
}
